<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<p>
<!--    {% url 'learning_logs:index' %} 即为超链接 learning_logs为urls中的app_name, index为自己定义的name -->
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
        Hello, {{user.username}}.
        <a href="{% url 'users:logout' %}">Log out</a> -
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}

</p>

{% block content %}{% endblock content %}

<!--{% block test %}{% endblock test%}-->