<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

{% extends 'learning_logs/base.html' %}
{% block content %}
<!--    上下文字典传递的 topic 直接拿过来用-->
    <p>Topic: {{ topic }}</p>
    <p>Entries: </p>
    <ul>
        {% for entry in entries %}
            <li>
<!--                django模板中，| 代表过滤器 此处代表使用 下面的时间格式-->
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
<!--                此处过滤器linebreaks 将包含换行符的长条目转换为浏览器能够理解的格式，以免显示的为不换行的文本块。-->
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>
{% endblock content%}